
div{
    width: 400px;
    text-align: center;
    position: relative;
    margin: auto;
    background-color: rgb(228, 225, 225);
    padding: 40px;
    margin-top: 300px;
    border-bottom: 3px solid red ;
    border-top: 3px solid red ;
    border-left: 3px solid  rgb(81, 81, 228);
    border-right: 3px solid  rgb(81, 81, 228);
    
}
.top-left{
    width: 30px;
    color: white;
    background-color: rgb(81, 81, 228);
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -15px;
    margin-top: -10px;
    border-right: 3px solid red;
    padding: 2px;
   
}
.bottom-left{
    width: 30px;
    color: white;
    background-color: rgb(81, 81, 228);
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: -15px;
    margin-bottom: -10px;
    border-right:3px solid red;
    padding: 2px;
   
}
.top-right
{
    width: 30px;
    color: white;
    background-color: rgb(81, 81, 228);
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -15px;
    margin-top: -10px;
    border-left: 3px solid red;
    padding: 2px;
}
.bottom-right
{
    width: 30px;
    color: white;
    background-color: rgb(81, 81, 228);
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: -15px;
    margin-bottom: -10px;
    border-left: 3px solid red;
    padding: 2px;
}



